{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Entries{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
  <label for="date">Date</label>
  <input name="date" id="date" type="date" value="{{ date }}" required>
  <label for="body">Entry</label>
  <textarea name="body" id="body" type="text" autofocus required></textarea>
  <input type="submit" value="Record">
</form>
<hr>
{% for entry in entries %}
<article class="post">
  <header>
    <div>
      <h1>{{ entry['date'] }} - {{ entry['weekday'] }}</h1>
    </div>
    <a class="action" href="{{ url_for('notes.edit', id=entry['id']) }}">Edit</a>
  </header>
  <p class="body">{{ entry['body'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
